<h1>Go visit Rainier National Park</h1> 
<p>Here's the webcam - I'll put some more description in here after we meet with Chris on Wednesday. </p>
<img src="http://www.nps.gov/webcams-mora/mountain.jpg?2014926123654" alt="Mountain View" class="webcam-img">
