<h1>KUPS Radio</h1> 
<h3>Here's some information about KUPS</h3>
<!-- <script type="text/javascript" src="http://hosted.musesradioplayer.com/mrp.js"></script> -->
<script type="text/javascript">
MRP.insert({
'url':'http://stream.kups.net',
'codec':'mp3',
'volume':100,
'autoplay':false,
'buffering':5,
'title':'KUPS Live Stream',
'wmode':'transparent',
'skin':'simple-gray',
'width':300,
'height':122
});
</script>

<object id="MRPObject" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="300" height="122">
	<param name="movie" value="http://hosted.muses.org/muses-hosted.swf">
	<param name="flashvars" value="url=http://stream.kups.net&amp;lang=auto&amp;codec=mp3&amp;tracking=true&amp;volume=100&amp;autoplay=false&amp;buffering=5&amp;skin=http://hosted.muses.org/muses-simple-gray.xml&amp;title=KUPS Live Stream&amp;welcome=undefined">
	<param name="wmode" value="transparent">
	<param name="allowScriptAccess" value="always">
	<param name="scale" value="noscale">
	<embed name="MRPObject" src="http://hosted.muses.org/muses-hosted.swf" flashvars="url=http://stream.kups.net&amp;lang=auto&amp;codec=mp3&amp;tracking=true&amp;volume=100&amp;autoplay=false&amp;buffering=5&amp;skin=http://hosted.muses.org/muses-simple-gray.xml&amp;title=KUPS Live Stream&amp;welcome=undefined" scale="noscale" wmode="transparent" width="300" height="122" allowscriptaccess="always" type="application/x-shockwave-flash">
</object>
