<!--Twitter-->

<a class="twitter-timeline" href="https://twitter.com/univpugetsound" data-widget-id="536979543567761408">Tweets by @univpugetsound</a>
<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<!--Facebook-->

<h3> Like us on Facebook! </h3>

<div id="fb-root"></div>
<script>
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-like" data-href="https://www.facebook.com/univpugetsound" data-width="500" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>

<!--Instagram-->

<h3> Follow us on Instagram! </h3>

<!-- SnapWidget -->
<iframe src="http://snapwidget.com/sc/?u=dW5pdnB1Z2V0c291bmR8aW58MTUwfDN8M3x8eWVzfDIwfG5vbmV8b25TdGFydHx5ZXN8bm8=&ve=031214" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:500px; height:150px"></iframe>
