<div id="highlight-carousel" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#highlight-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#highlight-carousel" data-slide-to="1"></li>
    <li data-target="#highlight-carousel" data-slide-to="2"></li>
    <li data-target="#highlight-carousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/images/redhot.jpeg">
      <div class="carousel-caption">
        <h3>The Red Hot</h3>
        Distance: 0.6 Miles 
        <br>
        <a href="https://redhottacoma.com" style= "color:white">Website</a>
        <br>
        <br>
      </div>
    </div>
    <div class="item">
      <img src="/images/metronome.jpeg">
      <div class="carousel-caption">
        <h3>Metronome Coffee</h3>
        Distance: 0.7 Miles
        <br>
        <a href="https://metronomecoffee.com" style= "color:white">Website</a>
        <br>
        <br>
      </div>
    </div>

    <div class="item">
      <img src="/images/silkthai.jpeg">
      <div class="carousel-caption">
        <h3>Silk Thai</h3>
        Distance: 0.6 Miles
        <br>
        <a href="https://silkthaicafe.com" style= "color:white">Website</a>
        <br>
        <br>
      </div>
    </div>

    <div class="item">
      <img src="/images/ptd.jpeg">
      <div class="carousel-caption">
        <h3>Point Defiance</h3>
        Distance: 5.2 Miles
        <br>
        <a href="https://pdza.com" style= "color:white">Website</a>
        <br>
        <br>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#highlight-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#highlight-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
