<div class="top-bottom">
  <div class="navigation-arrows">

    <div class="left-arrow">
    <%= link_to location_path(@location) do %>
    
    <img src="/images/left_arrow.png" />
    Previous Location
    
    <% end %>
    </div>
   
    <div class="right-arrow"> 
    <%= link_to location_path(@location.next) do %>
   
      Next Location
      <img src="/images/right_arrow.png" />
   
    <% end %>
    </div>
  </div>
</div>
<h1><%= @location.name %></h1>
 
<div>     
  <div id='ninja-slider'>
    <ul>
      <% @location.pictures.each do |picture| %>
      <li><div data-image="<%= picture %>"></div></li>
      <% end %>
      <!--
	  <li><div data-image="http://www.pugetsound.edu/images/vt/buildings/Wheelock_3.jpg"></div></li>
	      <li><div data-image="http://www.pugetsound.edu/images/vt/buildings/_DSC5319.jpg"></div></li>
              <li><div data-image="http://www.pugetsound.edu/images/vt/buildings/WheelockDiversionsTD022.jpg"></div></li>
              <li><div data-image="http://www.pugetsound.edu/images/vt/buildings/wheelockfoodcourt_3057.jpg"></div></li>
              <li><div data-image="http://www.pugetsound.edu/images/vt/buildings/WheelockTD072.jpg"></div></li>
              <li><div data-image="http://www.pugetsound.edu/images/vt/buildings/Wheelock_Celler.jpg" ></div></li> -->
    </ul>
  </div>
</div>

<p><%= @location.long_description %></p>

