<div class="top-bottom">
 
  <div class="navigation-arrows">

  <div class="left-arrow"> 
  <%= link_to tour_stop_path(@location.previous) do %>
    <img src="/images/left_arrow.png" />
    Previous Location
  <% end %>
   </div>  
  <div class="right-arrow">
  <%= link_to tour_stop_path(@location) do %>
  Next Location
    <img src="/images/right_arrow.png" />

  <% end %>
  </div>
</div>
</div>



<%= content_tag "div", id: "current-location", data: {location:     @location} do %>

<% end %>

<%= content_tag "div", id: "all-locations", data: {locations: @all_locations} do %>

<% end %>

<%= content_tag "div", id: "latitude", data: {latitude: @location.latitude } do %>

<% end %>
<%= content_tag "div", id: "longitude", data: {longitude: @location.longitude } do %>

<% end %>

<div id="map-canvas"></div>
