<div class="top-bottom">
  <div class="navigation-arrows">
   <h3>Choose a Location</h3>
  </div>
  
</div>
<div class="menu">
  

  <% @locations.each do |location| %>
  <%= link_to location_path(location) do %>
  <div class="menu-item">
   <div class="location-picture">
     <img class="small-pic" src="<%= location.logo_url %>" />
   </div>
   <div class="location-info">
     <p class="location-name"><%= location.name %></p>
    
     <p class="location-desc"><%= location.short_description %></p>
   </div>
  </div>

  <% end %>
<% end %>

</div>
 



